# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f1b7897cae50eb4ecf00c52d0e8472c753ab7ce2eb91a29c4383ed7f752d5b34c3dc69b4267fc321126a520ece4a4444dccc2d006a179eff944ddc16e274d23f

test:
  secret_key_base: c37f820c51f97220b302613de16183cec6eeb252108e664476b7cd44467a1014011acfb53f2f4268265a9c302900e8539dc1646dc08b4b6ee45a1d50edfba6a3

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
